<html>
    <head>
        <title>List of Renesas Image Create Param</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{
            url_for('static', filename='css/w3.css') }}">
        <link rel="stylesheet" href="{{
            url_for('static', filename='css/common.css') }}">

            <script type=text/javascript src="{{
                url_for('static', filename='js/jquery.min.js') }}"></script>
            <script type=text/javascript src="{{
                url_for('static', filename='js/common.js') }}"></script>
            <script type=text/javascript src="{{
                url_for('static', filename='js/sign_renesas_ic.js') }}"></script>
    </head>
    <body>
        {% include  "header.html" %}
        <h3>List of Renesas Image Create Param</h3>
        {% if login %}'
        <table border="1">
            <tr>
                <td class="tdheader">Id</td>
                <td class="tdheader">Name</td>
                <td class="tdheader">Binary type</td>
                <td class="tdheader">Source</td>
                <td class="tdheader">Last update time</td>
                <td class="tdheader">Memory map</td>
                <td class="tdheader">Help</td>
                <td class="tdheader">Download</td>
            </tr>
            {% for id,param in param_list.items() %}
            <tr name="{{ param.id }}">
                <td class="tdheader">{{ param.id }}</td>
                <td class="tdheader">{{ param.name }}</td>
                <td class="tdheader">{{ param.binary_type }}</td>
                <td class="tdheader">{{ param.source }}</td>
                <td class="tdheader">{{ param.last_update }}</td>
                <td class="tdheader"><a href="#{{ param.id }}" onclick="get_help_cmd('{{ toolname }}', 'memory_map', '{{ param.id }}')">Memory map</a></td>
                <td class="tdheader"><a href="#{{ param.id }}" onclick="get_help_cmd('{{ toolname }}', null, '{{ param.id }}')">Help</a></td>
                <td class="tdheader"><a href="#{{ param.id }}" onclick="downloadfile('{{ toolname }}', null, '{{ param.id }}')">Download</a> </td>
            </tr>
            {% endfor %}
            
        </table>
        {% else %}
        <div>Not login with proper account yet, please login: <a href="/login">Login</a></div>
        {% endif %}

        <!-- Loading div -->
        {% include  "loading.html" %}
        <!-- result dialog div -->
        {% include  "dialog.html" %}
        {% include  "footer.html" %}
    </body>
</html>