{% extends "key/key_gen_base.html" %}

{% block content %}
<table>
    <tr>
        <td class="tdheader">Command list</td>
        <td><select name="command" id="command">
            {% for id,cmd in cmd_list.items() %}
              <option value="{{ id }}">{{ cmd.id }}|{{ cmd.name }}</option>
            {% endfor %}
            </select>| <a href="#command" onclick="get_command_help('{{ keytool }}')">Help</a></td>
    </tr>
    <tr>
        <td class="tdheader">Target sign tool:</td>
        <td><select name="tool" multiple disable>
            <option value="{{ toolname }}"
            selected="selected"
            >{{ tooldesc }}</option>
            </td>
    </tr>
    <tr>
        <td class="tdheader">Key size  (bits)</td>
        <td><input type="number" name="size" value="2048"> (128, 250, 1024, 2048, ...)</td>
    </tr>
    <tr>
        <td class="tdheader">Extra data</td>
        <td><input type="text" name="data"> | <a href="#command" onclick="get_command_help('{{ keytool }}')">Help</a></td>
    </tr>
    <tr>
        <td class="tdheader">Password</td>
        <td><input type="password" name="password"> </td>
    </tr>
    <tr>
        <td class="tdheader">Select root key:</td>
        <td><select name="key_id">
            <option value="{{ key_none }}">{{ key_none }}</option>
            {% for key in root_key_list %}
              <option value="{{ key.id }}">
                {{ key.name }} 
                {% if key.isdefault %}
                (default)
                {% endif %}
                | title: {{ key.title }}| model: {{ key.model }} | project: {{ key.project }}
              </option>
            {% endfor %}
            </select>
        </td>
    </tr>
</table>

{% endblock %}

{% block script %}
<script type=text/javascript src="{{
    url_for('static', filename='js/gen_key.js') }}"></script>
{% endblock %}