<div id="dialog" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <div class="w3-container w3-teal"> 
        <span onclick="document.getElementById('dialog').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h4>Response</h4>
      </div>
      <div style="margin: 10px; padding: 10px;" id="dialogContent">
      </div>
      <div> 
        <div onclick="document.getElementById('dialog').style.display='none'" 
        class="w3-button">Close</div>
        <div onclick="location.reload()" 
        class="w3-button" id="dialogReload" style="display: none;">Reload Page</div>
      </div>
    </div>
  </div>