<html>
<head>
<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
</head>
<body>
<h1>Simple Signing server</h1>
{% include  "header.html" %}
<p> This is very simple signing server, just for fun / internal used by VinFast only</p>

<p> Go  <a href='sign'>HERE</a> to manual sign </p>
<p> Go  <a href='fota'>HERE</a> to generate FOTA package </p>
<p> Go  <a href='key'>HERE</a> for Signing Key </p>
<p> Go  <a href='admin'>HERE</a> for Administrator </p>
<p> Go  <a href='res'>HERE</a> to download resource like example of using Rest API via python, server certification, ... </p>
{% include  "footer.html" %}
<span>Version {{ version }}</span>
</body>
</html>